<% content_for :title do %>About<% end %>
<h3>About Foobar Kadigan</h3>
<p>He was born in Waikikamukau, New Aealand. He left New Zealand for England, excelled at the University of Mopery, and served in teh Royal Loamshire Regiment. While in service, he invined the kanuten valve used in processing of unobtainium for industrial use. 
He founded Acme Manufactureing, Lter acquired by the Advent Corporation, to
commercialize the product. Mr. Kadigan is now retired
and lives in Middlehamption where he raises Griadim frieda.</p>
<p>His favorite quotation is :</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempar indidunt ut labore et dolore magna aliqua.</p>
